#dev-panel {
    background: #44444461;
    width: fit-content;
    padding: 10px;
    border-radius: 5px;
    margin: 9px 11px;
    color: #e7e7e7d1;
    font-family: monospace;

    font-size: 11px;
}

#dev-panel div {
    margin: 1px auto;
}

#dev-panel__title {
    position: relative;
    right: 2px;
    margin-bottom: 5px;
    color: #cecece;
    font-weight: 600;
    font-size: 14px;
}

input.checkbox  {
    cursor: pointer;
    position: relative;
    top: 3px;
    right: 5px;
}

button.button {
    font-size: 11px;
}


button.button {
    background: #fdda81;
    outline: none;
    border: none;
    padding: 1px 6px;
    margin: 1px;
    border-radius: 2px;
    cursor: pointer;
}

button.button:hover {
    color: rgba(0, 0, 0, 0.4);
}

#dev-panelspawnFigure-option-container span {
    float: left;
}

#dev-panelspawnFigure-option-container .button{
    margin: 0px 3px;
}