* {
    margin: 0;
    padding: 0;
}

#root {
    background-size: cover;
    position: absolute;
    height: 100%;
    width: 100%;
}

#app {
    border: 1px solid rgb(255 255 255 / 4%);
    box-shadow: 1px 2px 40px 10px #0000001c;
}

#app__screen {
    width: 410px;
    background: #000000e0;
    height: fit-content;
    padding: 15px;
    margin: 0;
    transition: 0.3s ease;
}

#app__screen canvas {
    position: relative;
    display: block;
    margin: 0 auto;
}

#app__restart-button {
    position: relative;
    left: 10px;
}

#settings-button {
    width: 30px;
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
}

#settings-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 350px;
    border: 1px solid rgb(0 0 0 / 43%);
    border-radius: 5px;
    flex-direction: column;
}

#settings-modal::backdrop {
    background: rgba(0, 0, 0, 0.5);
}

#settings-modal__header {
    background-color: rgb(233, 233, 233);
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#settings-modal__close {
    position: absolute;
    border: none;
    right: 0;
    cursor: pointer;
    background-color: none;
    margin-right: 10px;
}

#settings-modal__setting {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 45px;
    justify-content: space-between;
}

#settings-modal__subtitle {
    padding: 5px;
    box-sizing: border-box;
    align-self: flex-start;
}

#settings-modal__inputs {
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.change-setting-input {
    width: 15px;
    font-size: 18px;
    border: none;
    background-color: white;
    cursor: pointer;
}

#settings-modal__save-button {
    position: relative;
    width: 40%;
    left: 50%;
    margin-top: 15px;
    transform: translateX(-50%);
}

.hud-element {
    color: white;
    width: 120px;
    font-family: monospace;
}

#hud-container {
    position: absolute;
    top: 210px;
    right: 17px;
}

#hud-container div {
    position: relative;
}