* {
    margin: 0;
    padding: 0;
}

#root {
    background: #060606;
    width: 100%;
    height: 100%;
    position: absolute;
}

#app {
    background: #64646412;
    padding: 15px;
    border: 1px solid rgb(255 255 255 / 4%);
    /* box-shadow: 1px 2px 40px 10px #817f7f17; */
}

#app__screen {
    width: 621px;
    background: black;
    height: fit-content;
    padding: 15px;
    margin: 0;
}

#app__screen canvas {
    display: block;
    margin: 0 auto;
}

#app__restart-button {
    position: relative;
    left: 10px;
}

.ui-element {
    color: white;
    position: absolute;
    width: 120px;
    font-family: monospace;
}

#ui__scores-display {
    top: 32px;
    right: 32px;
}


#ui__figures-placed {
    top: 46px;
    right: 32px;
}


#ui__lines-completed {
    top: 59px;
    right: 32px;
}

#ui__stopwatch {
    top: 72px;
    right: 32px;
}